.container-fluid .btn-dark {
    margin: 15px 0 15px 0;
}

.container-fluid h2 {
    margin: 0;
    padding-top: 20px;
}

.manage_buttons {
    margin-left: 20px;
}

.card-body .form-group {
    margin: 0;
}

.container-fluid table button.btn-dark {
    margin: 0;
}

p.errors {
    color: red;
}
.container-fluid p.success {
    color: forestgreen;
}